<h1>implementar o index de list</h1>
<%# <% @bookmarks.each do |bookmark| %>
<%# <%= bookmark.list_id %>
<%# <% end %>
<% @l_arrays.each do |array| %>
<p><%= array.name %></p>
<% end %>

<% @m_arrays.each do |array| %>
<p><%= array.title %></p>
<% end %>
